*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* Header Styling */
nav{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: whitesmoke;
}

.header{
    font-size: 24px;
    position: fixed;
    left: 40px;
    top: 25px;
}

.header #first{
    border-bottom: 1px solid;
}

/* Map Locations Styling */
.locations{
    position: fixed;
    top: 690px;
    left: 30px;
}

.locations button{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background: transparent;
    letter-spacing: 3px;
    padding: 4px;
    margin: 3px;
    text-transform: uppercase;
    border: 1px solid darkgrey;
    /* border: none; */
}

.locations button:hover{
    color: darkgray;
    transition: ease-in-out 0.2s;
}

/* Social Media Styling */
.media{
    position: fixed;
    top: 650px;
    left: 32px;
}

.media a{
    font-size: 24px;
    background: transparent;
    color: whitesmoke;
    padding: 5px;
    margin: 5px;
}

.media a:hover{
    color: darkgray;
    transition: ease-in 0.2s;
}

/* Modal "About" Styling */
.navButton{
    position: fixed;
    top: 15px;
    right: 40px;
    background: transparent;
    color: whitesmoke;
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px; 
    border: 0px;
}

.navButton:hover{
    color: darkgray;
    transition: ease-in-out 0.2s;
}

.modal{
    display: none;
    position: fixed;
    top: 360px;
    z-index: 1;
    width: 60%;
    overflow: auto; 
    /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)); rgb(128) for gray */
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.modal-header, .modal-footer{
    font-family: 'Cinzel', serif;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.modal-content{
    font-family: 'Playfair Display', serif;
    background-color: lightgrey;
    margin: auto;
    padding: 1em;
    width: 80%;
    letter-spacing: 1px;
    line-height: 30px;
    animation-name: modalopen;
    animation-duration: 1s;
    border-radius: 12px;
}

.closeBtn{
    color: darkgrey;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
    color: black;
    cursor: pointer;
}

@keyframes modalopen{
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* Responsiveness */
@media screen and (max-width: 750px){
    .header{
        font-size: 14px;
        letter-spacing: 1px;
        left: 5%;
        
    }
    .navButton{
        font-size: 14px;
        right: 1%;
        top: 2%;
    }
    .locations button{
        display: inline-flex;
        font-size: 12px;
    }
    .modal{
        width: 110%;
        top: 45%;
    }
    .modal-content{
        font-size: 12px;
        margin: 180% auto;
        overflow: scroll;
        letter-spacing: 0px;
        line-height: 28px;
    }

}